<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form name="form" (ngSubmit)="login()"  #f="ngForm" class="login100-form validate-form p-l-55 p-r-55 p-t-178">
                <span class="login100-form-title">
                    Sign In
                </span>

                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" placeholder="Username" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" placeholder="Password" required>
                    <span class="focus-input100"></span>
                </div>


                <div class="container-login100-form-btn p-t-20">
                    <button class="login100-form-btn">
                        Sign in
                    </button>
                </div>

                <div class="flex-col-c p-t-40 p-b-40">
                    <span class="txt1 p-b-9">
                        Don’t have an account?
                    </span>

                    <a routerLink="/register" class="txt3">
                        Sign up now
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>